<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="closeTerms()" color="light">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img src="/assets/logo.white.png" style="width: 62px; margin: auto;" class="ion-page"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text color="primary" style="text-align: center; display: block; width: 100%;">
      <h1>Términos y Condiciones</h1>
    </ion-text>
  </ion-item>


</ion-content>